@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

.hero-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vh;
    background: rgba(0,0,0,0.5) url(./images/cover004.jpg) no-repeat;
    background-size: cover;
    background-blend-mode: color;
    color: #fff;
}
.hero-text span{
    display: block;
    margin-bottom: 10px;
}

.hero-text{
    margin: 0px 15px;
    text-align: center;
}

.hero-text h1{
    margin-bottom: 60px;
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 4px;
    animation-duration: 1.6s;
    animation-name: slidein;
    transition: 0.4s ease-in;
    font-size: 36px;
    text-align: center;
}

.hero-text p{
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 500;
    font-family: 'Kalam', cursive;
    line-height: 1;
}

.hero-text button{
    background: none;
    outline: none;
    border: none;
    background-color: cornflowerblue;
    padding: 20px 30px;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.hero-text button a{
    text-decoration: none;
    color: #fff;
}

.about-club{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin: 20px 10px;

}

.about-club img{
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
}

.about-desc button{
    background: none;
    outline: none;
    border: none;
    background-color: cornflowerblue;
    padding: 15px 20px;
    color: #fff;
    font-weight: 500;
    margin-top: 0px;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 18px;
}

.about-desc button a{
    text-decoration: none;
    color: #fff;
}

.about-desc h1{
    font-size: 32px;
    margin-bottom: 20px;
}

.about-club p{
    font-size: 18px;
    margin-bottom: 15px;
}


.why-join-u{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    text-align: center;
}

.why-join-u h1{
    margin-bottom: 15px;
}

.why-join-u .join-header{
    width: 50%;
    margin-bottom: 20px;
}

.join{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px 5px;
}

.join .rows{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px;
    border-radius: 8px;
}

.join .rows h4{
    font-size: 28px;
    margin-bottom: 10px;
}

.join .rows i{
    color: cornflowerblue;
    font-size: 36px;

}



footer{
    text-align: center;
    padding-top: 50px;
    background-color: cornflowerblue;
    color: #fff;
    padding-bottom: 6px;
}

.quick-home-links{
    background-color: cornflowerblue;
    color: #fff;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.links a{
    text-decoration: none;
    color: #fff;
}

.links i{
    font-size: 40px;
    margin-right: 20px;
}

.contact-form{
    margin: 30px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

.contact-form h1{
    text-align: center;
    margin-bottom: 15px;
    border-bottom: 1px solid #000;
}

.contact-form-sect{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-direction: column;
}
.contact-form-sect input, .contact-form-sect textarea{
    outline: none;
    background: none;
    border: none;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 6px;
    width: 100%;
}
.contact-form-sect textarea{
    resize: vertical;
}

.contact-form-sect button{
    background: none;
    outline: none;
    border: none;
    font-size: 18px;
    font-weight: 600;
    background-color: cornflowerblue;
    padding: 6px 25px;
    text-align: center;
    color: #fff;
    border-radius: 4px;
}

footer span{
    opacity: 0.5;
    margin-left: 15px;
    cursor: pointer;
}

@media(max-width:767px){
    .hero-text h1{
        font-size: 30px;
    }
    .about-club{
        flex-wrap: wrap;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        padding: 10px;
        border-radius: 8px;
    }
    .about-club img{
        box-shadow: none;
    }

    .join{
        flex-wrap: wrap;
    }
    .why-join-u .join-header{
        width: 100%;
        margin-bottom: 20px;
    }
    .quick-home-links{
        flex-wrap: wrap;
        width: 100%;
        height: 220px;
        text-align: center;
        padding-top: 10px;
    }
    .links{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        border-bottom: 1px solid #fff;
        padding-bottom: 10px;
    }

    .contact-form{
        width: 100%;
        margin: 30px 5px;
    }
}



@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
