*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

.admin-dash-board{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 5px;
}

.user-page-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.admin-dash-board img{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    margin: 5px;
}

.personal-info-profile, .kin-info-profile, .photos-section{
    padding: 15px 10px;
    width: 100%;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 6px;
}

.back-home-btn{
    top: 0px;
    font-size: 28px;
}

.back-home-btn a{
    text-decoration: none;
    color: #c549f5;
}

.user-profile-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #ddd;
}

.user-details--list{
    padding: 10px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.user-info-details h3{
    text-align: center;
    margin-top: 5px;
}

.kin-personal-info-cols-1, .user-personal-info-cols-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 25px;
}

.kin-personal-info-cols-1 h5, .user-personal-info-cols-1 h5{
    font-size: 18px;
}

@media(max-width:767px){
    .user-page-list{
        flex-wrap: wrap;
    }
}
